<!-- About section -->

    <section id="about"<%CLASS%>>
        <div class="about holder">
            <div class="main-card">
                <div class="photo">
                    <picture>
                        <source srcset="<%IMAGEWEBP%>" type="image/webp">
                        <img src="<%IMAGE%>" loading="lazy" alt="<%ALT%>">
                    </picture>
                </div>
                <div class="about-text">
                    <div class="h2"><%TITLE%></div>
                    <%TEXT%>
                    <div class="name">
                        <picture>
                            <source srcset="assets/images/about-sign.webp" type="image/webp">
                            <img src="assets/images/about-sign.png" loading="lazy" alt="<%ALT%>">   
                        </picture>
                        <p class="sign"><%NAME%><br/><span><%POST%></span></p> 
                    </div> 
                </div>
            </div>
            <div class="js-slider" data-mobile="true" data-adaptive="true" data-dots="true">
                <%CONTENT%>
            </div>
        </div>
    </section>