<!-- About section -->

    <section id="about"<%CLASS%>>
        <div class="about holder">
            <div class="main-card">
                <div class="photo">
                    <img src="<%IMAGE%>" alt="<%ALT%>">
                </div>
                <div class="about-text">
                    <h2><%TITLE%></h2>
                    <%TEXT%>
                    <div class="name">
                        <img src="assets/images/about-sign.png" alt="<%ALT%>">   
                        <p class="sign"><%NAME%><br/><span><%POST%></span></p> 
                    </div> 
                </div>
            </div>
            <div class="js-slider" data-mobile="true" data-adaptive="true" data-dots="true">
                <%CONTENT%>
            </div>
        </div>
    </section>