<!-- Services2 advantages section -->

    <section class="advantages gradiented">
        <div class="holder">
            <div class="h2"><%TITLE%></div>
            <div class="text">
                <%TEXT%>
            </div>

            <div class="advantages-items">
                <%CONTENT%>
                <div class="advantage-item-main"<%DISPLAY%>>
                    <div class="advantage-item-text">
                        <%SUBHEADER%>
                        <%CITE%>
                        <%AUTHOR%>
                    </div>    
                </div>
            </div>
        </div>
    </section>