<div class="slider<%CLASS%>" id="<%ID%>" data-autochange-interval-sec="<%AUTOSECONDS%>">
                <ul>
                    <%CONTENT%>
                </ul>
                <div class="nav-btn prev"><img class="arrow" src="assets/images/projects-left-arrow.svg" alt=""></div>
                <div class="nav-btn next"><img class="arrow" src="assets/images/projects-right-arrow.svg" alt=""></div>
                <div class="slider-dots">
                    <%DOTS%>
                </div>
            </div>

            