<script type="application/ld+json">
{  
  "@context": "http://schema.org",  
  "@type": "Organization",  
  "@id": "<%SITE_URL%>",
  "name": "ISDesign group",
  "legalName" : "ISDesign group S.R.O.",
  "url": "<%SITE_URL%>",
  "logo": "<%SITE_URL%>/assets/images/main2.png",
  "image": "<%META_IMAGE%>",
  "foundingDate": "2009",
  "address": {
     "@type": "PostalAddress",
     "streetAddress": "Babická 2345/3",
     "addressLocality": "Praha",
     "addressRegion": "Praha 4",
     "postalCode": "149 00",
     "addressCountry": "Czech Republic"
  },
  "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "customer support",
     "telephone": ["<%TELS%>"],
     "email": "<%EMAIL%>"
  },
  "sameAs": [ 
     <%SOCIAL%>
  ]
}
</script>