<div class="final">
			<input type="tel" name="tel" maxlength="50" placeholder="<%LANG::PHONE%>" data-multimask="true" required aria-required>
			<div class="line">
				<div class="cb-line"><input type="checkbox" name="agree" id="modal-quiz-agree" checked="checked"><label for="modal-quiz-agree"><%LANG::AGREEMENT%></label></div>

				<input type="hidden" name="service_id" value="<%SERVICEID%>">
				<input type="hidden" name="referer" value="<%REFERER%>">
                <input type="hidden" name="code" value="<%CODE%>">
				<input type="submit" name="submit_btn" class="btn" value="<%BUTTON%>">
			</div>
		</div>